##Importaci√≥n de Datos

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
filename=('/content/drive/MyDrive/Coding Dojo/Week 2/proyecto2/sales_predictions.csv')
df=pd.read_csv(filename)
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

##Exploraci√≥n de Informacion

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

Llenar los datos

In [5]:
# ver donde se encuentran los datos faltantes en la variable del peso de los productos y hacer una interpolacion lineal 
df['Item_Weight']=df.loc[:,'Item_Weight'].interpolate(method='linear')

In [6]:
#ver donde se encuentran los valores valtantes de el tama√±o de cada almacen 
df['Outlet_Size']=df.loc[:,'Outlet_Size'].fillna(method='ffill')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                8523 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [8]:
df

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

##Resumenes estadisticos

In [11]:
#ver el numero de venta por producto en el tipo de locacion de la tienda
df_locaccion= df.groupby(['Outlet_Location_Type'])['Item_Outlet_Sales'].mean()
df_locaccion.head()

Outlet_Location_Type
Tier 1    1876.909159
Tier 2    2323.990559
Tier 3    2279.627651
Name: Item_Outlet_Sales, dtype: float64

Conclusion: por producto se tienen en ventas promedio, lo especificado en la tabla, mientras que la mayor localidad que presentan ventas en promedio es la localidad 3

In [14]:
#Los 5 productos que mas cuesta a precio minorista 
df_precio_max= df.groupby(['Item_Identifier'])['Item_MRP'].max().head()
df_precio_max

Item_Identifier
DRA12    143.0154
DRA24    165.7868
DRA59    186.6924
DRB01    190.9530
DRB13    191.1530
Name: Item_MRP, dtype: float64

In [15]:
# Los 5 productos que menos cuestan a precio minorista 
df_precio_min= df.groupby(['Item_Identifier'])['Item_MRP'].min().head()
df_precio_min

Item_Identifier
DRA12    140.3154
DRA24    162.4868
DRA59    183.2924
DRB01    187.7530
DRB13    188.6530
Name: Item_MRP, dtype: float64

In [ ]:
#

In [10]:
type(df_locaccion)

pandas.core.series.Series

In [ ]:
df.nunique()

In [ ]:
df1=df.loc[:].dropna(how='any')
df1

In [ ]:
df1.info()